<div class="short-list mat-elevation-z8">
    <div class="content">
        <table mat-table>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cel *matCellDef>Amr</td>
            </ng-container>
            <ng-container matColumnDef="Mobile number">
                <th mat-header-cell *matHeaderCellDef>Mobile number</th>
                <td mat-cel *matCellDef>01224225538</td>
            </ng-container>
            <ng-container matColumnDef="Job">
                <th mat-header-cell *matHeaderCellDef>Job</th>
                <td mat-cel *matCellDef>Web Designer</td>
            </ng-container>
            <ng-container matColumnDef="Experience years">
                <th mat-header-cell *matHeaderCellDef>Experience years</th>
                <td mat-cel *matCellDef>5</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef>
                    <!-- <mat-icon (click)="deleteProduct(product._id)">delete</mat-icon>
                <mat-icon (click)="openEditForm(product._id)">edit</mat-icon> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="paginator-button" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
</div>